[v-cloak] {
	display: none;
}

html {
	overflow-y: scroll;
}

.columns-flex {
	display: flex;
}

.x-scroll {
	overflow-x: auto;
	white-space: nowrap;
}

.x-scroll::-webkit-scrollbar {
	display: none;
}

.custom-scroll::-webkit-scrollbar {
	width: 0.7em;
	height: 0.7em;
	background-color: rgb(200, 200, 200);
}

.custom-scroll::-webkit-scrollbar-thumb {
	background-color: #444;
}

.panel-list {
	max-height: calc(10 * 41px);
	overflow-y: scroll;
}

.panel-line {
	border-top: 1px solid #4a4a4a;
}

.mobile-break {
	display: none;
}

.example-button {
	font-size: inherit;
	pointer-events: none;
	height: 2em;
	width: 2em;
	font-size: 0.8em;
}

.archive-changes {
	min-height: 14em;
	overflow: auto;
	white-space: nowrap;
}

@media (max-width: 500px) {
	[data-balloon]:hover:before, [data-balloon]:hover:after, [data-balloon][data-balloon-visible]:before, [data-balloon][data-balloon-visible]:after {
		opacity: 0;
	}
	.section {
		padding-top: 0.8rem;
	}

	.mobile-break {
		display: inline;
	}
}
