[v-cloak] {
	display: none;
}

.x-scroll {
	overflow-x: scroll;
	white-space: nowrap;
}

::-webkit-scrollbar {
	height: 0px;
	background: transparent;
}

.example-button {
	font-size: inherit;
	pointer-events: none;
	height: 2em;
	width: 2em;
	font-size: 0.8em;
}

@media (max-width: 768px) {
	[data-balloon]:hover:before, [data-balloon]:hover:after, [data-balloon][data-balloon-visible]:before, [data-balloon][data-balloon-visible]:after {
		opacity: 0;
	}
}
