[v-cloak] {
	display: none;
}

body {
	word-wrap: break-word;
}

@media (max-width: 390px) {
	#recaptcha {
		-webkit-transform: scale(0.78);
		transform: scale(0.78);
		-webkit-transform-origin: left center;
		transform-origin: left center;
	}
}

@media (min-width: 768px) {
	.mobile-spacer {
		display: none !important;
	}
}

.example-button {
	font-size: inherit;
	pointer-events: none;
	height: 2em;
	width: 2em;
	font-size: 0.8em;
}
