@import "../sass/utilities/initial-variables";

$grey-darker:  hsl(0, 0%, 21%);
$grey-dark:    hsl(0, 0%, 29%);
$grey:         hsl(0, 0%, 48%);
$grey-light:   hsl(0, 0%, 71%);
$grey-lighter: hsl(0, 0%, 86%);

$primary: #2A9FD6 !default;
$primary-light: lighten($primary, 10);

$danger:  #E83358 !default;

$white-ter:    #f5f5f5;
$black-ter:    #333;

$body-background-color: #000;
$background: #031d33;

$border: $grey-dark;

$title-color: #fff;
$subtitle-color: $white-ter;
$subtitle-strong-color: $white-ter;

$text: #fff;
$text-light: lighten($text, 10);
$text-strong: darken($text, 5);

$link-hover: $primary-light;
$link-focus: $primary-light;
$link-active: $primary-light;
$link-hover-border: $grey-dark;
$link-active-border: $grey;

$button-color: $text;
$button-background-color: $background;
$button-border-color: $background;
$button-hover-color: $grey-lighter;
$button-focus-color: $grey-light;
$button-focus-border-color: $background;
$button-active-color: $grey-light;

$table-color: $text;
$table-head: $grey-lighter;
$table-background-color: $grey-darker;
$table-cell-border: 1px solid $grey-dark;

$table-row-hover-background-color: $grey-dark;
$table-striped-row-even-background-color: $grey-dark;
$table-striped-row-even-hover-background-color: lighten($grey-dark, 4);

$pagination-border-color: $grey-darker;
$pagination-disabled: $grey-light;
$pagination-disabled-background-color: $grey-dark;

$dropdown-content-background-color: $background;
$dropdown-item-color: $text;

@import "../bulma";

// Overrides

.section,
html {
  background-color: $background;
}

.hero {
  background-color: $black-ter;
}

.box {
  box-shadow: none;
  background-color: #0d3856;
}

.delete {
  background-color: rgba(255, 255, 255, 0.2);

  &:hover {
    background-color: rgba(255, 255, 255, 0.1);
  }
}

.label {
  color: $grey-lighter;
}

b {
  color: $grey-lighter;
}

.notification {
  @each $name, $pair in $colors {
    $color: nth($pair, 1);
    $color-invert: nth($pair, 2);

    &.is-#{$name} {
      a:not(.button) {
        color: $color-invert;
        text-decoration: underline;
      }
    }
  }
}

.card {
  $card-border-color: lighten($grey-darker, 5);
  box-shadow: none;
  background-color: $grey-darker;

  .card-header {
    box-shadow: none;
    background-color: rgba($black-bis, .2);
  }

  .card-footer {
    background-color: rgba($black-bis, .2);
  }

  .card-footer,
  .card-footer-item {
    border-color: $card-border-color;
  }
}

.message-header {
  background-color: $black-ter;
  color: $white;
}

.message-body {
  border-color: $black-ter;
}

.modal-card-body {
  background-color: $background;
}

.modal-card-foot,
.modal-card-head {
  background-color: $black-ter;
  border-color: $black-ter;
}

.nav {
  background-color: #000;
  border: 1px solid $grey-darker;
  @media screen and (max-width: $tablet - 1) {
    .nav-menu {
      background-color: #000;
      border: 1px solid $grey-darker;
    }
  }
}

.navbar {
  background-color: $body-background-color;
  border: 1px solid $grey-darker;

  .navbar-item,
  .navbar-link {
    color: $white;

    &.has-dropdown:hover .navbar-link,
    &:hover {
      color: $white-ter !important;
      background-color: rgba($white, 0.03);
    }

    &.is-active,
    &:active {
      background-color: rgba($white, 0.05);
      color: $primary;
    }
  }

  .navbar-dropdown {
    background-color: $body-background-color;
    border: 1px solid $grey-darker;
  }
}

.hero {
  .nav {
    border: none;
    box-shadow: 0 1px 0 rgba($border, 0.5);
  }
}

.navbutton.is-active {
	color: $button-hover-color;
}

.navbutton {
	color: $button-active-color;
}

.navbutton:hover {
	color: $button-color;
}

.panel-tabs-heading {
	border-radius: $panel-heading-radius $panel-heading-radius 0 0;
}

.code-block {
	background-color: $white-ter;
	color: $black-ter;
	font-size: .875em;
	font-weight: normal;
	font-family: monospace;
	padding: .25em .5em .25em;;
}
