[v-cloak] {
	display: none;
}

.columns-flex {
	display: flex;
}

.hide-top-border {
	border-top: 0px !important;
}

.hide-bottom-border {
	border-bottom: 0px !important;
}

.textarea {
	resize: none;
}

.panel-list {
	overflow-y: auto;
}

.panel-line {
	border-top: 1px solid #dbdbdb;
}

.mobile-break {
	display: none;
}

.example-button {
	pointer-events: none;
	font-size: 0.8em;
}

.archive-changes {
	overflow: auto;
	white-space: nowrap;
}

@media (max-width: 500px) {
	[data-balloon]:hover:before, [data-balloon]:hover:after, [data-balloon][data-balloon-visible]:before, [data-balloon][data-balloon-visible]:after {
		opacity: 0;
	}
	.section {
		padding-top: 0.8rem;
	}

	.mobile-break {
		display: inline;
	}
}

@media (max-height: 650px) {
	[data-balloon]:hover:before, [data-balloon]:hover:after, [data-balloon][data-balloon-visible]:before, [data-balloon][data-balloon-visible]:after {
		opacity: 0;
	}
	.section {
		padding-top: 0.8rem;
	}

	.mobile-break {
		display: inline;
	}
}


