html {
	overflow-y: scroll;
}

.x-scroll {
	overflow-x: auto;
	white-space: nowrap;
}

.x-scroll::-webkit-scrollbar {
	display: none;
}

.custom-scroll::-webkit-scrollbar {
	width: 0.5em;
	height: 0.5em;
	background-color: rgba(0, 0, 0, 0);
	padding-bottom: 0.2em;
}

.custom-scroll::-webkit-scrollbar-thumb {
	background-color: #ccc;
	border-radius: 1em;
	margin-bottom: 0.2em;
}

.entries-scroll::-webkit-scrollbar {
	width: 0.5em;
	background-color: rgba(0, 0, 0, 0);
	border-right: 1px solid #dbdbdb;
}

.entries-scroll::-webkit-scrollbar-thumb {
	background-color: #ccc;
	border-radius: 1em;
}

.archive-scroll::-webkit-scrollbar {
	width: 0.5em;
	background-color: rgba(0, 0, 0, 0);
	border-right: 1px solid #dbdbdb;
}

.archive-scroll::-webkit-scrollbar-thumb {
	background-color: #ccc;
	border-radius: 1em;
}

::-webkit-scrollbar {
	background-color: rgba(0, 0, 0, 0);
	width: 0.5rem;
	padding-right: 100px;
}

::-webkit-scrollbar-thumb {
	background-color: #ccc;
	border-radius: 1em;
}
